#main{
    font-family: 'Black And White Picture', sans-serif;
    text-align: center;
    font-size: 100px;
    color: rgb(30, 148, 184)
}
.lead{
    text-align: center;
}

.crystals{
    text-align: center;
    
}

.targetNum{
    text-align: center;
}

#gem{
    border-radius: 90px;
}
